.head-list {
    text-align: center;
}
ul.blog-list {
    padding: 0;
    list-style: none;
}

.blog-list li {
    margin: 30px;
    border-bottom: 2px dashed #999;
}
.edit-state {
    width: 100%;
    height: 25px;
    margin-bottom: -50px;
}
.edit-post {
    float: right;
}
.blog-list li:last-child {
    border-bottom: 0;
}
.blog-list li > h1 {
    text-align: center;
}
.read-state {
    text-align: right;
    margin-bottom: -50px;
}
.post-foot {
    text-align: center;
}
.read-state, .post-foot {
    width: 100%;
}
form#read-post, .navigation {
    border: 1px solid #D1D1D1;
}
form#read-post {
    text-align: right;
}
.navigation {
    text-align: center;
}
.navigation > p {
    display: inline;
    width: auto;
}