﻿{% extends "blog/root.html" %}
{% load staticfiles %}

{% block head %}
    <link rel = "stylesheet" href = "{% static "blog/css/blog.css" %}">
{% endblock head %}
{% block body %}
    <nav>
        <ul>
            <li>
                <p><a href = "{% url "blogWall" "all" 1 %}">Show all blogs</a></p>
            </li>
            <li>
                <p><a href = "{% url "blogWall" "my" 1 %}">Show my blog</a></p>
            </li>
            <li>
                <p><a href = "{% url "blogWall" "following" 1 %}">Show following blogs</a></p>
            </li>
        </ul>
    </nav>
    <form id = "add-blog-post" action = "{{ path }}" method = "post">
        <table>
        <tr><td>{% csrf_token %}</td></tr>
                {{ form.as_table }}
        <tr><td><input type = "submit" value = "Create/Edit post" /><td></tr>
        </table>
    </form>
{% endblock body %}
{% block scripts %}{% endblock scripts %}