{% extends "blog/root.html" %}
{% load staticfiles %}
{% load convertUUID %}

{% block head %}
    <link rel = "stylesheet" href = "{% static "blog/css/blog.css" %}">
{% endblock head %}
{% block body %}
    <nav>
        <ul>
            <li>
                <p><a href = "{% url "blogWall" "all" 1 %}">Show all blogs</a></p>
            </li>
            <li>
                <p><a href = "{% url "blogWall" "my" 1 %}">Show my blog</a></p>
            </li>
            <li>
                <p><a href = "{% url "blogWall" "following" 1 %}">Show following blogs</a></p>
            </li>
        </ul>
    </nav>
    <div class = "head-list"><h1>{{ headText }}</h1></div>
    {% with itemsPage.number as currentPage %}
        <form id = "read-post">
            {% csrf_token %}
            {% if currentPage %}
                <input type = "submit" formaction = "{% url "blogPostRead" itemsCategory currentPage %}" formmethod = "post" value = "Make read" />
            {% endif %}
            <input type = "submit" formaction = "{% url "blogPostAdd" %}" formmethod = "get" value = "Make new Post" />
        </form>
        <form id = "subscribe">
            {% csrf_token %}
        </form>
        <ul class = "blog-list">
            {% if itemsCategory == "all" %}
                {% for item in items %}
                    <li>
                        {% with item.blog.owner as author %}
                            {% with author.username as userName %}
                                {% with item.id|convert as postId %}
                                    {% with author.id as authorId %}
                                        {% if authorId == requestUserId %}
                                            <div class = "edit-state">
                                                <input type = "submit" form = "read-post" class = "edit-post" formmethod = "get" formaction = "{% url "blogPostEdit" postId  %}" value = "Edit post" />
                                            </div>
                                        {% else %}
                                            <div class = "read-state">
                                                {% if followingUserIdsSet|strInSet:authorId %}
                                                    {% if readItemsIdSet|strInSet:postId %}
                                                        <label for = "{{ postId }}">Read</label>
                                                        <input type = "checkbox" checked disabled />
                                                    {% else %}
                                                        <label for = "{{ postId }}">Read this post</label>
                                                        <input type = "checkbox" form = "read-post"  id = "{{ postId }}" name = "{{ postId }}" />
                                                    {% endif %}
                                                    <input type = "submit" form = "subscribe" formmethod = "post" formaction = "{% url "blogUnSubscribe" userName %}" value = "Unsubscribe" />
                                                {% else %}
                                                    <input type = "submit" form = "subscribe" formmethod = "post" formaction = "{% url "blogSubscribe" userName %}" value = "Subscribe" />
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <h1><a href = "{% url "blogPostPage" postId %}">{{ item.topic }}</a></h1>
                                    {% endwith %}
                                {% endwith %}
                                <p>{{ item.text|truncatechars:300 }}</p>
                                <div class = "post-foot">
                                    <small>{{ item.time|date:"D d M Y h:m" }}</small>
                                    <small>{{ userName }}</small>
                                </div>
                            {% endwith %}
                        {% endwith %}
                    </li>
                {% empty %}
                    <li>
                        <h2>No posts at this time.</h2>
                    </li>
                {% endfor %}
            {% elif itemsCategory == "following" %}
                {% for item in items %}
                    <li>
                        {% with item.blog.owner as author %}
                            {% with author.username as userName %}
                                {% with item.id|convert as postId %}
                                    {% with author.id as authorId %}
                                        {% if authorId == requestUserId %}
                                            <div class = "edit-state">
                                                <input type = "submit" form = "read-post" class = "edit-post" formmethod = "get" formaction = "{% url "blogPostEdit" postId  %}" value = "Edit post" />
                                            </div>
                                        {% else %}
                                            <div class = "read-state">
                                                {% if readItemsIdSet|strInSet:postId %}
                                                    <label for = "{{ postId }}">Read</label>
                                                    <input type = "checkbox" checked disabled />
                                                {% else %}
                                                    <label for = "{{ postId }}">Read this post</label>
                                                    <input type = "checkbox" form = "read-post"  id = "{{ postId }}" name = "{{ postId }}" />
                                                {% endif %}
                                                <input type = "submit" form = "subscribe" formmethod = "post" formaction = "{% url "blogUnSubscribe" userName %}" value = "Unsubscribe" />
                                            </div>
                                        {% endif %}
                                        <h1><a href = "{% url "blogPostPage" postId %}">{{ item.topic }}</a></h1>
                                    {% endwith %}
                                {% endwith %}
                                <p>{{ item.text|truncatechars:300 }}</p>
                                <div class = "post-foot">
                                    <small>{{ item.time|date:"D d M Y h:m" }}</small>
                                    <small>{{ userName }}</small>
                                </div>
                            {% endwith %}
                        {% endwith %}
                    </li>
                {% empty %}
                    <li>
                        <h2>No posts at this time.</h2>
                    </li>
                {% endfor %}
            {% else %}
                {% for item in items %}
                    <li>
                        {% with item.blog.owner as author %}
                            {% with item.id|convert as postId %}
                                <div class = "edit-state">
                                    <input type = "submit" form = "read-post" class = "edit-post" formmethod = "get" formaction = "{% url "blogPostEdit" postId  %}" value = "Edit post" />
                                </div>
                                <h1><a href = "{% url "blogPostPage" postId %}">{{ item.topic }}</a></h1>
                            {% endwith %}
                            <p>{{ item.text|truncatechars:300 }}</p>
                            <div class = "post-foot">
                                <small>{{ item.time|date:"D d M Y h:m" }}</small>
                                <small>{{ author.username }}</small>
                            </div>
                        {% endwith %}
                    </li>
                {% empty %}
                    <li>
                        <h2>No posts at this time.</h2>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <div class = "navigation">
            {% if itemsPage.has_previous %}
                <p><a href = "{% url "blogWall" itemsCategory itemsPage.previous_page_number %}">Prev</a></p>
            {% else %}
                {% ifnotequal currentPage 1 %}
                    <p>Prev</p>
                {% endifnotequal %}
            {% endif %}
            <p>{{ currentPage }}</p>
            {% if itemsPage.has_next %}
                <p><a href = "{% url "blogWall" itemsCategory itemsPage.next_page_number %}">Next</a></p>
            {% else %}
                <p>Next</p>
            {% endif %}
        </div>
    {% endwith currentPage %}
{% endblock body %}
{% block scripts %}{% endblock scripts %}