{% extends "blog/root.html" %}
{% load staticfiles %}

{% block head %}
    <link rel = "stylesheet" href = "{% static "blog/css/blog.css" %}">
{% endblock head %}
{% block body %}
    <nav>
        <ul>
            <li>
                <p><a href = "{% url "blogWall" "all" 1 %}">Show all blogs</a></p>
            </li>
            <li>
                <p><a href = "{% url "blogWall" "my" 1 %}">Show my blog</a></p>
            </li>
            <li>
                <p><a href = "{% url "blogWall" "following" 1 %}">Show following blogs</a></p>
            </li>
        </ul>
    </nav>
    <div class = "blog-item">
        <div class = "post-foot">
            <p>{{ postItem.time|date:"D d M Y h:m" }}</p>
            <p>{{ postAuthor }}</p>
        </div>
        <form method = "get" action = "{% url "blogPostEdit" postItem.id  %}">
            {% csrf_token %}
            {% ifequal postAuthor.id requestUserId %}
                <input type = "submit" value = "Edit post" />
            {% endifequal %}
        </form>
        <h1>{{ postItem.topic }}</h1>
        <p>{{ postItem.text }}</p>
    </div>
{% endblock body %}
{% block scripts %}{% endblock scripts %}