﻿{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel = "stylesheet" href = "{% static "blog/css/root.css" %}">
    {% block head %}{% endblock head %}
</head>
<body>
    <div id = "content">
        {% block body %}{% endblock body %}
    </div>
    {# Рекомендация Стива Содерса (Yahoo) - скрипты внизу страницы #}
    {% block scripts %}{% endblock scripts %}
</body>
</html>